extends layout

block content
    div.task_panel
        canvas.task_cvs
    div.queue_panel
        canvas.queue_cvs
    div.memory_panel
        canvas.memory_cvs
    script(src='javascripts/paint.js')
    script(src='javascripts/logic.js')
    script(src='javascripts/task_visualize.js')
    script(src='javascripts/q_visualize.js')
    script(src='javascripts/mem_visualize.js')
